<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamsai.saibackend.domain.settlement.mapper.SettlementParticipantMapper">

    <insert
            id="insert"
            parameterType="org.teamsai.saibackend.domain.settlement.dto.SettlementParticipantDTO"
            useGeneratedKeys="true"
            keyProperty="participantId"
            keyColumn="participant_id">

        INSERT INTO settlement_participant (
        invitation_id,
        participant_role,
        participant_status,
        joined_at
        )
        VALUES (
        #{invitationId},
        #{participantRole},
        #{participantStatus},
        #{joinedAt}
        )

    </insert>

    <select
            id="existsByInvitationId"
            resultType="boolean">

        SELECT EXISTS (
        SELECT 1
        FROM settlement_participant
        WHERE invitation_id = #{invitationId}
        )

    </select>

    <select
            id="existsActiveParticipant"
            resultType="boolean">

        SELECT EXISTS (
        SELECT 1
        FROM settlement_participant sp
        JOIN settlement_invitation si
        ON si.invitation_id = sp.invitation_id
        WHERE si.settlement_id = #{settlementId}
        AND si.user_id = #{userId}
        AND sp.participant_status = 'ACTIVE'
        )

    </select>

</mapper>