<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamsai.saibackend.domain.user.mapper.UserMapper">

    <resultMap id="userResultMap"
               type="org.teamsai.saibackend.domain.user.dto.UserDTO">

        <id property="userId" column="user_id"/>

        <result property="userToken" column="user_token"/>
        <result property="userKey" column="user_key"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="birthDate" column="birth_date"/>

    </resultMap>

    <!-- 이메일 중복 확인 -->
    <select id="existsByEmail"
            resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM users
        WHERE email = #{email}
        )
    </select>

    <!-- 회원가입 -->
    <insert id="insert"
            parameterType="org.teamsai.saibackend.domain.user.dto.UserDTO"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id">

        INSERT INTO users (
        user_token,
        email,
        password,
        name,
        birth_date
        )
        VALUES (
        #{userToken},
        #{email},
        #{password},
        #{name},
        #{birthDate}
        )

    </insert>

    <!-- 로그인용 회원 조회 -->
    <select id="findByEmail"
            resultMap="userResultMap">

        SELECT
        user_id,
        user_token,
        email,
        password,
        name,
        birth_date
        FROM users
        WHERE email = #{email}

    </select>

    <!-- JWT 인증 및 내 정보 조회 -->
    <select id="findByUserToken"
            resultMap="userResultMap">

        SELECT
        user_id,
        user_token,
        user_key,
        email,
        password,
        name,
        birth_date
        FROM users
        WHERE user_token = #{userToken}

    </select>

    <select id="findUserKeyByUserToken" parameterType="string" resultType="string">
        SELECT user_key
        FROM users
        WHERE user_token = #{userToken}
    </select>

    <!-- 회원 탈퇴: 실제 데이터 삭제 -->

    <delete id="deleteByUserToken">
        DELETE FROM users
        WHERE user_token = #{userToken}
    </delete>

    <select id="existsByUserToken"
            resultType="boolean">

        SELECT EXISTS (
        SELECT 1
        FROM users
        WHERE user_token = #{userToken}
        )

    </select>
    <select id="findById" resultType="org.teamsai.saibackend.domain.user.dto.UserDTO">
        SELECT user_id, name, email, user_key
        FROM users
        WHERE user_id = #{userId}
    </select>
</mapper>