<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamsai.saibackend.domain.contract.mapper.LoanContractFileMapper">

    <insert id="insertContractFile" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO loan_contract_file(
        contract_id,
        original_filename,
        saved_filename,
        file_size,
        file_type,
        created_at
        ) VALUES (
        #{contractId},
        #{originalFilename},
        #{savedFilename},
        #{fileSize},
        #{fileType},
        NOW()
        )

    </insert>

    <select id="findFileByContractId" resultType="org.teamsai.saibackend.domain.contract.dto.LoanContractFileDTO">
        SELECT
        file_id           AS fileId,
        contract_id       AS contractId,
        original_filename AS originalFilename,
        saved_filename    AS savedFilename,
        file_size         AS fileSize,
        file_type         AS fileType,
        created_at        AS createdAt
        FROM loan_contract_file
        WHERE contract_id = #{contractId}
    </select>

</mapper>
