<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>금전차용계약서 서명</title>
    <link rel="stylesheet" th:href="@{/css/contract/contract-signature.css}" href="./contract-signature.css" />
</head>
<body>
<div id='전자서명받기' class='전자서명받기'>
    <div id='로그인후헤더' class='로그인후헤더'>
        <div id='frame9' class='frame9'>
            <div id='gradient' class='gradient'>
            </div>
            <div id='사이원장' class='사이원장'>
                사이원장</div>
        </div>
        <div id='frame8' class='frame8'>
            <div id='서비스소개' class='서비스소개'>
                서비스소개</div>
            <div id='금전소비대차' class='금전소비대차'>
                금전소비대차</div>
            <div id='정산' class='정산'>
                정산</div>
            <div id='캘린더' class='캘린더'>
                캘린더</div>
        </div>
        <div id='frame72' class='frame72'>
            <img id='container' class='container' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAATNJREFUeAHt1s9NwzAUBvDPTlTlEFVF6sEIWoUNYIROACPQCYATZyajIzCCVXLwjfLnUCHBw880iENREseoUeWfFMVxrOSLXyQbiKIo2i0BT0qpAsng3l18vM+MMRoBSPhKB5f2cwp3cDuQBC2N2Hh8SyQuhIBynYQiHw6f315fHtBRq5L9lIlnZRuC7lq+diWrwgj7YsjZOpUHplwKbrs+vmfH8CTCU+NA6mhS/TN6ncgzU+rFSusV3+N2ZvuqUFmeX8NT40BCiCvXoM95FeQ3zX0k524I5Dk8NQ5EwCmfTVku/hqTpXA/tdiM/ddATegtM9dW0EAhxEB1YqA6vQtUu5ap4ymhg++lpbnezVDveO8YDyfTJyKMNk/R5nF5ggC8S0agGw5iN2l2uaA7RFEU7YkvRchYY3a76LsAAAAASUVORK5CYII='/>
            </img>
            <div id='gradient2' class='gradient2'>
            </div>
        </div>
    </div>
    <div id='기본화면' class='기본화면'>
        <div id='로그인후기본배경' class='로그인후기본배경'>
            <div id='frame48' class='frame48'>
                <div id='기본프레임이거복사' class='기본프레임이거복사'>
                    <div id='frame28' class='frame28'>
                        <div id='frame46' class='frame46'>
                            <div id='기본화면2' class='기본화면2'>
                                <div id='기본화면3' class='기본화면3'>
                                    <div id='대시보드프레임2-한줄에두개쓸거면이거복사' class='대시보드프레임2-한줄에두개쓸거면이거복사'>
                                    </div>
                                    <div id='heading1' class='heading1'>
                                        <div id='전자서명및계약체결동의' class='전자서명및계약체결동의'>
                                            전자 서명 및 계약 체결 동의</div>
                                    </div>
                                    <button id='button' class='button' type='button'>
                                        <img id='container2' class='container2' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAAN1JREFUeAHtlEEOgkAMRVuZg3AUvYVLOBksvYXxJhzDRHHsV0bDCINmStz0J2VR/vTBpC3vq6p0nporU31o244S+sW7pI3z3BDxtvB8ROEUFB54n2fytHHsaybqJMo5eIDCAy/OUKYYj0oK91LYS2GJrme/C1cZQwt512Ze8ws8B0d+DegIPAUfDOrQD3AMHwzqUMjFibNEQe8vuklcSF+jP44bCbmphlMFT3Uv8nPdrgJOjUxq1LLA38zpGvDHylwaGeTwLmw4tZUpHXRaGpkAh1djZZpMJpPJZPq/7h9Svy1ZzF/+AAAAAElFTkSuQmCC'/>
                                        </img>
                                    </button>
                                    <div id='body' class='body'>
                                        <div id='counterpartyarea' class='counterpartyarea'>
                                            <div id='label3' class='label'>
                                                <div id='상대방확인-signature' class='서명-signature'>
                                                    상대방 확인 (채무자 이메일)</div>
                                            </div>
                                            <input type='email' id='debtorEmail' class='debtor-email-input' placeholder='채무자가 가입한 이메일 주소를 입력하세요' required />
                                        </div>
                                        <div id='signaturearea' class='signaturearea'>
                                            <div id='container3' class='container3'>
                                                <div id='label' class='label'>
                                                    <div id='서명-signature' class='서명-signature'>
                                                        서명 (Signature)</div>
                                                </div>
                                                <div id='container4' class='container4'>
                                                    <div id='패드에수기서명을남겨주세요.' class='패드에수기서명을남겨주세요.'>
                                                        패드에 수기 서명을 남겨주세요.</div>
                                                </div>
                                            </div>
                                            <div id='container5' class='container5'>
                                                <div id='background-border' class='background-border'>
                                                    <div id='container6' class='container6'>
                                                        <div id='container7' class='container7'>
                                                            <div id='text' class='text'>
                                                                SIGN HERE</div>
                                                        </div>
                                                        <canvas id='signatureCanvas' class='signatureCanvas' width='590' height='278'></canvas>
                                                    </div>
                                                </div>
                                                <button id='button2' class='button2' type='button'>
                                                    <img id='container8' class='container8' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAASNJREFUeAGFUcFNw0AQnDn7Fx4uwR0kHeB0EH4IGdgOKIHQQaggh4j4QgcJFRA6CB3wJ/EyZxLJkKCMZOl2PbuanSG2GJkVJw1uSJiD5U/Xl02D+6fHGOsrG4O8ZWqfm5WZc66ihONVraXInwArEKcOrFQvCBrT5p7zLQCF089mMS7QQW1WwfmsZ5HqvLeBMaAUedgltxLXGGCtIvhEcsbtAAOvk4zZw+/NLTnjHH+Q6xtI393ejxzLNXx4aAA7fV3EGHU0FvsDjg/p6+MILi7NskznSE5UXbVu/IO6tlEInKZ3yAMmTD7LukNDIlc6fpo4yi+2wZmC2yg4T8EpoORao7sC0U/hJXIm28VfcbdJQ8UXgrFxQ0sUHO8IfMnRTLYm4Bsazm0impSk9gAAAABJRU5ErkJggg=='/>
                                                    </img>
                                                    <div id='지우기' class='지우기'>
                                                        지우기</div>
                                                </button>
                                            </div>
                                        </div>
                                        <div id='verificationstatus' class='verificationstatus'>
                                            <div id='overlay' class='overlay'>
                                                <img id='container9' class='container9' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAAW9JREFUeAG9VDFPwkAU/q5tjG79CZgQZxzUtd2qi6xO6maMiaxOhs0RIioj/gMmbVwoG9FBdxnwHzAZDbTndyVK2l6RSOKX9O7e3fu+e33vtQI6VBwbo5UDCLkLCBuRrCNCgKY/SLuKhHXiORzPue1ohRG1AXmLxkN7KhCTZBkw9znbmAcSAw4BZFinwLbEAjCwIP5TQAz5vPxRgOQILqwlNy1iaJ115Os7Ej9s9oadL6DKM47W6XSYIVe8AkLRoU8hJZC+kbj0W7HIL2RiqPqgw4WTiCKU7k/b5pMVuhYZ3UTrCjqaJBx5LpZp55PVbYHA8U4JhnzOnjESI55zyMRYrhqT7PJLS0NFMossRUu95qQKlsq6Jpm5oG8YVdXKjO1ef4iN4idv9ebiS5zhxvenAgpP/R4219T/wZnNFlVc3V98W2bi7PE1wFbxDUKUaNmZsBHuoeE3E7vaS1TtR6LMKpwyXPowYdZ7DbUgk6cvySyKTlhLEnwAAAAASUVORK5CYII='/>
                                                </img>
                                            </div>
                                            <div id='container10' class='container10'>
                                                <div id='container11' class='container11'>
                                                    <div id='안전한계약체결을위해휴대폰본인인증이완료되었습니다.' class='안전한계약체결을위해휴대폰본인인증이완료되었습니다.'>
                                                        안전한 계약 체결을 위해 휴대폰 본인인증이 완료되었습니다.</div>
                                                    <img id='container12' class='container12' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAAUpJREFUeAGdlNFxgzAMhm3RZwgb0AlKJyjZIGyQTlAyQZ0RMkGTCZpO0HYDb9BsgOEd6K8ccD7HIVx050MH0mf5l4UUjpVluSCiN7grrERKuei6zuCpm6Y5xHG8d3OkAygAeOdEccUAPLVtmwOmLyBVVXGyEvNtHYbhYYTcAWAzON4zKjpJHCEJguBP3Gc/qGYJCaiYmwE9dljaepWhiIzgvMwEbKMoKiDqxn6PIlKCFqkTf8QyHoDCrimSPu1vyH8iJ1jjjDkEWw4gB/Dtaz/Zu3JV3Cm+AwwCYHMLgJjqAU8WKrNACiCB5C1/mwL08VrWdb2G/+HZQUHErykAGyp+PF82gPieJB6QuTECO+4Y9bRc+Eu9CoDxDCl2zpBeyFfhtHYKwMIjz4yQHrTnWYD7O5FsuOXDzIwV+yJ5niDoariI1v/kOOxu2z+kFcAvMGvubgAAAABJRU5ErkJggg=='/>
                                                    </img>
                                                </div>
                                                <div id='container13' class='container13'>
                                                    <div id='인증일시' class='인증일시'>
                                                        인증 일시: 2023.10.24 14:32:05 (KST)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='agreement' class='agreement'>
                                            <div id='container14' class='container14'>
                                                <input type='checkbox' id='agreeCheckbox' class='input' />
                                            </div>
                                            <label id='label2' class='label2' for='agreeCheckbox'>
                                                <div id='위약정내용을모두확인하였으며,본인인증정보를기반으로한전자서명을통해상기계약조건에대한최종합의의사를기록합니다.' class='위약정내용을모두확인하였으며,본인인증정보를기반으로한전자서명을통해상기계약조건에대한최종합의의사를기록합니다.'>
                                                    위 약정 내용을 모두 확인하였으며, 본인인증 정보를 기반으로 한 전자 서명을
                                                    통해 상기 계약 조건에 대한 최종 합의 의사를 기록합니다.</div>
                                            </label>
                                        </div>
                                    </div>
                                    <div id='section-modalcontent' class='section-modalcontent'>
                                        <div id='footer' class='footer'>
                                            <button id='button3' class='button3' type='button'>
                                                <div id='서명제출' class='서명제출'>
                                                    서명 제출</div>
                                                <img id='container15' class='container15' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAOdEVYdFNvZnR3YXJlAEZpZ21hnrGWYwAAAMdJREFUeAGtkw0RgzAMhbMpQEIlVEKlIGEONglzAE6Gg0mohM1BluxyRwgptBzv7h1/7dfXhAIivsk9nCGclckDOcBRoS+GJmiVAkTyaKCZS0DummDqOQggK+inqgQWZr4xdDJpX8WGqUF9aWVJO0pCW4LgwfSgwYMXSoAyPl6dIBexpy+5k6t+B//3ldtM5KfZJt8/UHd6pwFJCq7FDUlQmLCA8Urku5OCk0XYkprAKWzH+NzesPWnrd5KJWxd0AOwCVvO34Z+i3zY17CEB4IAAAAASUVORK5CYII='/>
                                                </img>
                                            </button>
                                            <p id='formStatus' class='form-status' role='status' aria-live='polite' hidden></p>
                                            <div id='container16' class='container16'>
                                                <div id='text2' class='text2'>
                                                    본 서명은 전자서명법에 따라 실물 서명과 동일한 법적 효력을 가집니다.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='footer2' class='footer2'>
                    <div id='frame23' class='frame23'>
                        <div id='frame92' class='frame92'>
                            <div id='gradient3' class='gradient3'>
                            </div>
                            <div id='사이원장2' class='사이원장2'>
                                사이원장</div>
                        </div>
                        <div id='복잡한금융정산을기술로해결하고더투명한거래문화를만듭니다.' class='복잡한금융정산을기술로해결하고더투명한거래문화를만듭니다.'>
                            복잡한 금융 정산을 기술로 해결하고
                            더 투명한 거래 문화를 만듭니다.</div>
                    </div>
                    <div id='frame24' class='frame24'>
                        <div id='frame25' class='frame25'>
                            <div id='공지사항' class='공지사항'>
                                공지사항</div>
                            <div id='자주묻는질문' class='자주묻는질문'>
                                자주 묻는 질문</div>
                            <div id='이용약관' class='이용약관'>
                                이용약관</div>
                            <div id='메일' class='메일'>
                                메일</div>
                            <div id='개인정보처리방침' class='개인정보처리방침'>
                                개인정보처리방침</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/contract/contract-signature.js}" src="./contract-signature.js"></script>
</body>
</html>